# Virtual environment
.venv

# Builds
/dist

# Mac OS files
.DS_Store

# IDE
.idea

# tests
.mypy_cache
.pytest_cache
__pycache__

# Coverage
.coverage
coverage.xml
htmlcov

# secrets
config.py
test_config.py

# telethone sessions
*.session